beautifulsoup4==4.5.1
boto==2.46.1
dj-database-url==0.4.1
Django==1.10.4
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==3.2
boto==2.46.1
colorama==0.3.7
dj-database-url==0.4.1
Django==1.9.8
djangorestframework==3.6.2
docutils==0.13.1
gunicorn==19.6.0
httpie==0.9.9
lockfile==0.12.2
numpy==1.12.0
psutil==5.2.1
psycopg2==2.6.2
PyAudio==0.2.10
pydub==0.18.0
Pygments==2.2.0
python-daemon==2.1.2
requests==2.11.0
soundmeter==0.1.3
whitenoise==3.2
WMI==1.4.9